home-assistant.log
home-assistant_v2.db

# Ignore folders.
__pycache__
.storage
.cloud
deps
tts

# Sensitive info
lutron_caseta_pro_*.json
secrets.yaml

# Zwave
options.xml
OZW_Log.txt
pyozw.sqlite
zwcfg_*
zwscene.xml

# Tile
*.tile.conf

# IDE files
*.swp
