homeassistant_latitude: 000.0000000
homeassistant_longitude: 000.0000000
homeassistant_elevation: 0

lutron_caseta_pro_bridges_host: host.domain.local
lutron_caseta_pro_bridges_mac: AA-AA-AA-AA-AA

pi_hole_host: host.domain.local

roku_host: host.domain.local

ecobee_api_key: api_key
zwave_network_key: "key"