homeassistant_latitude: 000.0000000
homeassistant_longitude: 000.0000000
homeassistant_elevation: 0

lutron_caseta_pro_bridges_host: host.domain.local
lutron_caseta_pro_bridges_mac: AA-AA-AA-AA-AA

pi_hole_host: host.domain.local

roku_host: host.domain.local

ecobee_api_key: api_key
zwave_network_key: "0x49, 0x43, 0x1D, 0xBD, 0x03, 0x6D, 0x9D, 0x8C, 0x39, 0x67, 0x16, 0x82, 0xA8, 0x67, 0xEE, 0x91"